<div class="row">
    <div class="col">
        <p>Results: <%- companies.length %> of <%- resultsCount %></p>

        <nav>
            <ul class="pagination">
                <% for (let i=0; i < pagesCount; i++) { %>
                    <li class="page-item <%- page == i + 1 ? 'active' : '' %>">
                        <a class="page-link" href="#" data-page="<%- i + 1 %>"><%- i+1 %></a>
                    </li>
                    <% } %>
            </ul>
        </nav>
    </div>
</div>

<script>
    const changePage = e => {
        e.preventDefault();
        console.log(e.target.dataset.page);
        const search = new URLSearchParams(window.location.search);
        search.set('page', e.target.dataset.page);

        const url = window.location.origin + window.location.pathname + '?' + search.toString();
        window.location.href = url;
    };

    document.querySelectorAll('.pagination a').forEach(a => {
        a.addEventListener('click', changePage);
    });
</script>